<meta property="og:title" content="{{ .Title | markdownify }}{{ if ne .Title .Site.Title }} - {{ .Site.Title | markdownify }}{{ end }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title | markdownify }}"/>

{{ with .Resources.ByType "image" }}
{{ range first 5 (sort . "Params.weight") }}
<meta property="og:image" content="{{ .Permalink }}"/>
{{ end }}
{{ else }}
{{ with .Site.GetPage "page" "/home" }}
{{ range first 5 (.Resources.ByType "image") }}
<meta property="og:image" content="{{ .Permalink }}"/>
{{ end }}
{{ end }}
{{ end }}
