/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.4s;
-moz-animation-delay:1.4s;
animation-delay: 1.4s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.8s;
-moz-animation-delay: 1.8s;
animation-delay: 1.8s;
}
body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #666;    
}
a {
    color: #00b8d4;
}
a:hover {
    color: #000;
    font-style: none;
}
a:active {
    color: #00b8d4;
}
h1 {
    color: #222;
    font-family: 'Work Sans', sans-serif;
}
h2 {
    color: #222;
    font-family: 'Work Sans', sans-serif;
}
hr {

}
ul {
    padding: 0;
}
.post-item {
    display: block;
    list-style: none;
    list-style-position: outside;
    margin-left: 0;
}
.main {
    padding: 0px 40px 40px 40px;
    width: 80%;
    margin: 0 auto;
    float: center;
}
@media (max-width: 600px) {
    .main {
        padding: 0px 20px 20px 20px;
        width: 100%;
        margin: 0 auto;
        float: center;
    }
}
.nav {
    text-align: center;
    text-transform: uppercase;
    margin: 3% 0 3% 0;
}
.blognav {
    text-align: left;
    text-transform: uppercase;
    margin: 3% 0 3% 0;
}
.content {
    margin: 0;
    padding: 0px;
}
.main .section {
    width: 90%;
    float: center;
}
@media (max-width: 800px) {
    .main .section {
        width: 100%;
        float: center;
    }
}
.markdown {
    margin: 0;
    padding: 0px;
}
.markdown ul {
  margin-bottom: 1.25rem;
  margin-left: 1.5em;
  list-style: none;
}
.markdown li {
  list-style-type: disc; 
  margin-left: 1.5em;
  list-style-position: outside;
  padding-left: 1em;
}
.markdown em {
  font-style: italic;
}
.markdown strong {
  font-weight: 700;
}
.markdown hr {
  position: relative;
  margin: 1.75rem 0;
  border: 0;
  border-top: 1px solid #808080;
  border-top: 1px solid #999999;
}
.markdown abbr {
  font-size: 0.8rem;
  font-weight: bold;
  color: #666666;
  text-transform: uppercase;
}
.markdown abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #808080;
}
.markdown blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
.markdown blockquote p:last-child {
  margin-bottom: 0;
}
.markdown table {
  margin: 2em 0 2em 0;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
.markdown td,
.markdown th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
  text-align: center;
}
.markdown tbody tr:nth-child(odd) td,
.markdown tbody tr:nth-child(odd) th {
  background-color: #f7f7f7;
}
.pagehead {
	margin: 20% 20% 5% 20%;
    text-align: center;
}
@media (max-width: 600px) {
    .pagehead {
        margin: 20% 10% 5% 10%;
        text-align: center;
    }
}
.list-head {
    text-align: left;
    margin: 20% 0 0 0;
}
.page-head-box {
    text-align: left;
    margin: 15% 0 0 0;
}
.list-title {
    font-size: 8em;
    font-weight: bold;
    margin-left: -10px;
}
@media (max-width: 600px) {
    .list-title {
        font-size: 3em;
        font-weight:bold;
        margin-left: 0;
    }
}
.section-head {
    font-size: 3em;
    text-align: center;
    margin: 1.5em 0em 1.5em 0em;
}
@media (max-width: 600px) {
    .section-head {
        font-size: 2em;
        text-align: center;
        margin: 1em 0em 1em 0em;
    }
}
img {
    max-width: 100%;
    margin: 1em 0 1em 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.img-responsive {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.avatar {
    max-width: 300px;
    margin: 0 0 1em 0;
}
.intro {
    font-size: 8em;
    font-weight: bold;
}
@media (max-width: 600px) {
    .intro {
        font-size: 3em;
        font-weight:bold;
    }
}
.blurb {
    font-size: 2em;
    text-align: center;
}
@media (max-width: 600px) {
    .blurb {
        font-size: 1em;
        text-align: center;
    }
}
.social-icons {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}
.highlight-text {
    font-size: 2em;
    margin: 0.8em 0em 0.5em 0em;
}
@media (max-width: 600) {
    .highlight-text {
    font-size: 1.5em;
    }
}
.project-grid {
    padding: 1.2em 0em 0em 0em;
}
.project-title {
    font-size: 1.5em;
    font-weight: bold;
}
.thumbnail {
    border: none;
}
.summary {
    margin: 0 0 1.5em 0;
}
.bloglist {
    text-align: center;
}
.blog-header {
    margin: 3% 0 3% 0;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
}
@media (max-width: 600px) {
    .blog-header {
    margin: 3% 0 3% 0;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    }
}
.post-data {
    font-size: 0.4em;
    font-weight: normal;
}
.blog-share {
    font-size: 0.35em;
    font-weight: normal;
    line-height: 2em;
}
#footer {
    text-align: center;
    color: #888;
    padding: 2em;
    font-size: 0.8em;
}
#footer a {
    color: #888;
}