{{ partial "header.html" . }}
<body>
<!-- Parent section -->
<div class="section" id="top">
    <!-- Begin Title -->
    <div class="container hero {{ if .Site.Params.fadeIn }} fade-in one {{ end }}">
        <h1 class="bold-title is-1">{{ .Title }}</h1>
    </div>
    <!-- End Title -->
    <!-- Everything below fades in two! -->
    <div class="section {{ if .Site.Params.fadeIn }} fade-in two {{ end }}">
        {{ partial "nav.html" . }}
        <!-- Begin post content -->
        <div class="container markdown {{ if .Site.Params.fadeIn }} fade-in two {{ end }} top-pad">
            {{ if .Params.image }}
            <div class="has-text-centered">
              <img src="{{ .Params.image | relURL }}" class="img-responsive" alt="{{ .Title }}">
            </div>
            {{ end }}
            {{ .Content }}
        </div>
        <!-- End post content -->
        <div class="disqus">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ partial "top-icon-with-hr.html" . }}
        {{ partial "footer.html" . }}
    </div>
    <!-- End fade in two -->
</div>
<!-- End parent section -->
</body>
