{{ $jQuery := resources.Get "vendor/jquery/jquery-3.5.1.min.js" }}
{{ $index := resources.Get "js/index.js" | minify }}
{{ $scripts := slice $jQuery $index | resources.Concat "js/bundle.js" | fingerprint }}
<script src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>

<!-- Custom JavaScript -->
{{ range .Site.Params.customJS -}}
    {{ $script := resources.Get . | minify }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- end }}
