{{ if .Site.Params.staticman.recaptcha }}
  <script src="https://www.google.com/recaptcha/api.js?hl={{ .Site.Language }}"></script>
{{ end }}
<script>
(function ($) {
  var $comments = $('.js-comments');

  $('.js-form').submit(function () {
    var form = this;

    $(form).addClass('disabled');

    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      contentType: 'application/x-www-form-urlencoded',
      success: function (data) {
        $('#comment-form-submit').html('{{ i18n "comment_btn_submitted" }}');
        $('.page__comments-form .js-notice').removeClass('notice--danger');
        $('.page__comments-form .js-notice').addClass('notice--success');
        showAlert('{{ i18n "comment_success_msg" }}');
        clearForm();
      },
      error: function (err) {
        console.log(err);
        $('#comment-form-submit').html('{{ i18n "comment_btn_submit" }}');
        $('.page__comments-form .js-notice').removeClass('notice--success');
        $('.page__comments-form .js-notice').addClass('notice--danger');
        showAlert('{{ i18n "comment_error_msg" }}');
        $(form).removeClass('disabled');
      }
    });

    return false;
  });

  function showAlert(message) {
    $('.page__comments-form .js-notice').removeClass('hidden');
    $('.page__comments-form .js-notice-text').html(message);
  }

  function clearForm() {
    $('input').val("");
    $('.js-form .form-group button.button').text('{{ i18n "comment_btn_submit" }}');
  }

  $('.comment-reply-btn a').click(function (){
    $('input[name="fields[replyThread]"]').val(this.title);
    $('input[name="fields[replyID]"]').val(this.id);
    authorTag = $(this).parents('.js-comment').children('div.comment__content-wrapper').children('h3.comment__author');
    $('input[name="fields[replyName]"]').val(authorTag.text());
    $('.js-form .form-group button[type="submit"]').text('{{ i18n "comment_btn_submit_reply" }}');
  });

  $('.js-form .form-group button[type="reset"]').click(function (){
    clearForm();
  });

  // smooth scroll to different link anchor
  $('.comment-reply-target a[href^="#"]').click(function (){
    targetPostID = $(this).attr('href');
    targetID = "#" + $(targetPostID).parents('.js-comment').attr('id');
    $('html, body').animate({ scrollTop: $(targetID).offset().top }, 500);
  });
})(jQuery);
</script>
