<div class="container"><!-- Begin Blog container -->

{{ if .Site.Params.showlatest }}
<h2 class="title is-2 has-text-centered">{{ i18n "latestPost" }}</h2>
    {{ range first 1 (where .Data.Pages.ByPublishDate.Reverse "Section" "blog") }} 
    <div class="summary">{{ .Date.Format .Site.Params.dateform }}
        <h3 class="title is-3 latest-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <div class="markdown">
            {{ .Summary }}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
            {{ end }}
            </div>
    </div>
    {{ end }}
{{ end }}

{{ if .Site.Params.showallposts }}
<h2 class="title is-2 has-text-centered top-pad">{{ i18n "allPosts" }}</h2>
    <ul>
    {{ range .Data.Pages.ByPublishDate }}
        {{ if eq .Section "blog" }}
            {{ partial "li.html" . }}
        {{ end }}
    {{ end }}
    </ul>
{{ else }}
<div class="container has-text-centered top-pad"><a href="/blog">{{ i18n "allBlogPosts" }}</a></div>
{{ end }}

</div><!-- End Blog container -->

<div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
