<!-- Begin Footer section -->
<div class="section" id="footer">
    <!-- Begin Footer container -->
    <div class="container has-text-centered">
    {{ with .Site.Params.footerText }}
        {{ . | markdownify }}
    {{ else }}
        <span class="footer-text">
            {{ i18n "footer_text" . | markdownify }}
        </span>
    {{ end }}
    </div>
    <!-- End Footer container -->
</div>
<!-- End Footer section -->

<!-- Bitty scrolling links script -->
<script>
$('a[href^="#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})
</script>
