<!-- Begin Nav bar -->
<div class="container">
  <hr>
  <nav class="nav nav-center">
    {{ if not .Page.IsHome }}
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu">
    {{ end }}
      {{ if not .Page.IsHome }}
      <a class="nav-item" href="{{ "/" | relURL }}">Main</a>
      {{ end }}

      <a class="nav-item" href="#about">About</a>

      {{ if and (.Site.Params.showProjects) (not (and (eq .Page.Section "projects") (eq .Page.Kind "section") )) }}
      {{ if .IsHome }}
      <a class="nav-item" href="#projects">Projects</a>
      {{ else }}
      <a class="nav-item" href="{{ "/projects" | relURL }}">
        {{ if eq .Section "projects" }}
        Back to Projects
        {{ else }}
        Projects
        {{ end }}
      </a>
      {{ end }}
      {{ end }}

      {{ if and (.Site.Params.showBlog) (not (and (eq .Page.Section "blog") (eq .Page.Kind "section") )) }}
      {{ if .IsHome }}
      <a class="nav-item" href="#blog">Blog</a>
      {{ else }}
      <a class="nav-item" href="{{ "/blog" | relURL }}">
        {{ if eq .Section "blog" }}
        Back to Blog
        {{ else }}
        Blog
        {{ end }}
      </a>
      {{ end }}
      {{ end }}

      <a class="nav-item" href="#contact">Contact</a>

      {{ if and .Site.Params.showRSSButton .Site.RSSLink  }}
      <a class="nav-item" href="{{ .Site.RSSLink }}"><i class="fa fa-rss"></i></a>
      {{ end }}
    {{ if not .Page.IsHome }}
    </div>
    {{ end }}
  </nav>
  <hr>
</div>
<!-- End Nav bar -->
