<!-- Begin Nav bar -->
<div class="container">
    <hr>
    <nav class="nav nav-center">
        {{ $isHome := .Page.IsHome }}
        {{ if not $isHome }}
        <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div id="nav-menu" class="nav-left nav-menu">
        {{ end }}
            {{ if not $isHome }}
            <a class="nav-item" href="{{ "/" | relLangURL }}">{{ i18n "nav_main" . }}</a>
            {{ end }}

            {{ with .Site.GetPage "page" "about" }}
            <a class="nav-item" href="{{ if $isHome }}#about{{ else }}{{ "/#about" | relLangURL }}{{ end }}">{{ .Title }}</a>
            {{ end }}

            {{ $pageIsInProjects := eq .Page.Section "projects"}}
            {{ if not (and $pageIsInProjects (eq .Page.Kind "section")) }}
            {{ with .Site.GetPage "section" "projects" }}
            {{ if $isHome }}
            <a class="nav-item" href="#projects">{{ .Title }}</a>
            {{ else }}
            <a class="nav-item" href="{{ .RelPermalink }}">
                {{ if $pageIsInProjects }}
                {{ i18n "nav_backToSection" . }}
                {{ else }}
                {{ .Title }}
                {{ end }}
            </a>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ $pageIsInBlog := eq .Page.Section "blog"}}
            {{ if not (and $pageIsInBlog (eq .Page.Kind "section")) }}
            {{ with .Site.GetPage "section" "blog" }}
            {{ if $isHome }}
            <a class="nav-item" href="#blog">{{ .Title }}</a>
            {{ else }}
            <a class="nav-item" href="{{ .RelPermalink }}">
                {{ if $pageIsInBlog }}
                Back to {{ .Title | singularize}}
                {{ else }}
                {{ .Title | singularize}}
                {{ end }}
            </a>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ with .Site.GetPage "page" "contact" }}
            <a class="nav-item" href="{{ if $isHome }}#contact{{ else }}{{ "/#contact" | relLangURL }}{{ end }}">{{ .Title }}</a>
            {{ end }}

            {{ range $.Site.Home.AllTranslations.ByWeight }}
            <a class="nav-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}

            {{ if and .Site.Params.showRSSButton .Site.RSSLink  }}
            <a class="nav-item" href="{{ .Site.RSSLink }}"><i class="fa fa-rss"></i></a>
            {{ end }}
        {{ if not .Page.IsHome }}
        </div>
    {{ end }}
    </nav>
    <hr>
</div>
<!-- End Nav bar -->
