<div class="page__comments">
  <hr>
  {{ $slug := replace .URL "/" "" }}

  {{ if .Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments $slug }}
    {{ if $comments }}
      {{ if gt (len $comments) 1 }}
        <h3>{{ len $comments }} {{ i18n "moreComment" }}</h3>
      {{ else }}
        <h3>{{ len $comments }} {{ i18n "oneComment" }}</h3>
      {{ end }}
    {{ else }}
      <h3>{{ i18n "noComment" }}</h3>
    {{ end }}

    {{ $.Scratch.Set "hasComments" 0 }}
    {{ range $comments }}
      {{ if not .replyThread }}
        {{ $.Scratch.Add "hasComments" 1 }}
        {{ $.Scratch.Set "hasReplies" 0 }}
        {{ $.Scratch.Set "threadID" ._id }}
        <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="js-comment comment">
          <div class="comment__avatar-wrapper">
            <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ .email }}?d=mm&s=80" alt="{{ .name }}">
          </div>
          <div class="comment__content-wrapper">
            <h3 class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
              {{ if .website }}
                <span itemprop="name"><a rel="external nofollow" itemprop="url" href="{{ .url }}">{{ .name }}</a></span>
              {{ else }}
                <span itemprop="name">{{ .name }}</span>
              {{ end }}
            </h3>
            <p class="comment__date"><a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment">
              <time datetime="{{ .date }}">{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date }}</time>
            </a></p>
            <div class="comment___content"><p>{{ .comment | markdownify }}</p></div>
            <div class="comment-reply-btn">
              <a id="{{ ._id }}" class="btn" href="#new_comment" title="{{ ._id }}">{{ i18n "replyToMsg" }}</a>
            </div>
          </div>
        </article>

        {{ range $comments }}
          {{ if eq .replyThread ($.Scratch.Get "threadID") }}
            {{ $.Scratch.Add "hasReplies" 1 }}
            <article id="comment-{{ $.Scratch.Get "hasComments" }}r{{ $.Scratch.Get "hasReplies" }}" class="js-comment comment reply">
              <div class="comment__avatar-wrapper">
                <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ .email }}?d=mm&s=80" alt="{{ .name }}">
              </div>
              <div class="comment__content-wrapper">
                <h3 class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                  {{ if .website }}
                    <span itemprop="name"><a rel="external nofollow" itemprop="url" href="{{ .url }}">{{ .name }}</a></span>
                  {{ else }}
                    <span itemprop="name">{{ .name }}</span>
                  {{ end }}
                </h3>
                <h4 class="comment-reply-target"><a href="#{{ .replyID }}"><i class="fas fa-reply"></i> {{ .replyName }}</a></h4>
                <p class="comment__date"><a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment">
                  <time datetime="{{ .date }}">{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date }}</time>
                </a></p>
                <div class="comment__content"><p>{{ .comment | markdownify }}</p></div>
                <div class="comment-reply-btn">
                  <a id="{{ ._id }}" class="btn" href="#new_comment" title="{{ $.Scratch.Get "threadID" }}">{{ i18n "replyToMsg" }}</a>
                </div>
              </div>
            </article>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

    <!-- Start comment form -->
    <div class="page__comments-form">
      <h3 class="page__comments-title">{{ i18n "comments_label" }}</h3>
      <p class="small">{{ i18n "comment_form_info" }} <span class="required">*</span></p>
      <form id="new_comment" class="page__comments-form js-form form" method="post" action="{{ .Site.Params.staticman.api }}">
        <!-- Hidden fields -->
        <div class="form-group hidden">
          <input type="hidden" name="options[slug]" value="{{ replace .URL "/" "" }}">
          <input type="hidden" name="options[parent]" value="">
          <input type="hidden" name="fields[replyThread]" value="">
          <input type="hidden" name="fields[replyID]" value="">
          <input type="hidden" name="fields[replyName]" value="">
          {{ if .Site.Params.staticman.recaptcha }}
            <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
            <input type="hidden" name="options[reCaptcha][secret]"  value="{{ .Site.Params.staticman.recaptcha.secret }}">
          {{ end }}
        </div>

        <!-- User input -->
        <div class="form-group">
          <label for="comment-form-message">{{ i18n "oneComment" | title }} <small class="required">*</small></label><br>
          <textarea type="text" rows="12" cols="36" id="comment-form-message" name="fields[comment]" placeholder="{{ i18n "useMarkdown" }}" tabindex="1"></textarea>
        </div>
        <div class="form-group">
          <label for="comment-form-name">{{ i18n "yourName" }} <small class="required">*</small></label>
          <input type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
        </div>
        <div class="form-group">
          <label for="comment-form-email">{{ i18n "yourEmail" }} <small class="required">*</small></label>
          <input type="email" id="comment-form-email" name="fields[email]" tabindex="3" />
        </div>
        <div class="form-group">
          <label for="comment-form-url">{{ i18n "yourWebsite" }}</label>
          <input type="url" id="comment-form-url" name="fields[url]" tabindex="4"/>
        </div>

        <!-- Start comment form alert messaging -->
        <p class="hidden js-notice"><strong class="js-notice-text"></strong></p>
        <!-- End comment form alert messaging -->

        {{ if .Site.Params.staticman.recaptcha }}
          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}" tabindex="5"></div>
          </div>
        {{ end }}

        <!-- Submit and reset buttons -->
        <div class="form-group">
          <button type="submit" id="comment-form-submit" tabindex="6" class="btn btn--primary btn--large" value="Submit">{{ i18n "comment_btn_submit" }}</button>
          <button type="reset" id="comment-form-submit" tabindex="7" class="btn btn--primary btn--large" value="Reset">{{ i18n "comment_btn_reset" }}</button>
        </div>
      </form>
    </div>
</div>
