 {{ partial "header.html" . }}

<div class="section"><!-- Parent section -->

    <div class="hero fade-in one"><!-- Begin hero 404 -->
        <div class="hero-body has text centered">
            <h1 class="title bold-title is-1">404</h1>
        </div>
    </div><!-- End hero 404 -->
        
    <div class="container fade-in two"><!-- Begin Nav bar -->
            <hr>
            <nav class="nav-center">
                <a class="nav-item" href="/">Main</a> | 
                <a class="nav-item" href="/#about">About</a> | 
                {{ if .Site.Params.showprojects }}
                <a class="nav-item" href="/#projects">Projects</a> | 
                {{ end }}
                {{ if .Site.Params.showallposts }}
                <a href="/#blog">Blog</a> |
                {{ else }}
                <a href="/blog">Blog</a> |
                {{ end }}
                <a class="nav-item" href="/#workwithme">Work With Me</a> |
                <a class="nav-item" href="/#contact">Contact</a> 
                {{ if .Site.RSSLink }}
                <a class="nav-item" href="{{ .Site.RSSLink }}"><i class="fa fa-rss"></i></a>
                {{ end }}
            </nav>
            <hr>
    </div><!-- End Nav bar -->

    <div class="container markdown fade-in two"><!-- Begin blurb -->
        Oops! Either you've found a bug (in which case, <a href="{{ .Site.Params.email }}">please tell me</a>) or you're just making things up. This page doesn't exist!
    </div><!-- End blurb -->



{{ partial "footer.html" . }}
</div><!-- End parent section -->