{{ partial "header.html" . }}
<body>
<!-- Parent section -->
<div class="section" id="top">
    <!-- Begin Title -->
    <div class="container hero is-medium has-text-centered {{ if .Site.Params.fadeIn }} fade-in one {{ end }}">
        <h1 class="bold-title is-1">404</h1>
    </div>
    <!-- End Title -->
    <!-- Everything below fades in two! -->
    <div class="section {{ if .Site.Params.fadeIn }} fade-in two {{ end }}">
        {{ partial "nav.html" . }}
        <!-- Begin blurb -->
        <div class="container {{ if .Site.Params.fadeIn }} fade-in two {{ end }} top-pad">
            Oops! Either you've found a bug (in which case, <a href="mailto:{{ .Site.Params.email }}">please tell me</a>) or you're just making things up. This page doesn't exist!
        </div>
        <!-- End blurb -->
        <div class="container top-pad">
            <hr>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
<!-- End parent section -->
